* {
    scrollbar-width: thin
}

nav {
    z-index: 10000;
    min-width: 300px;
    min-height: 75px;
}

.nav-space {
    z-index: 9500;
    height: 100px;
}

.nav-dropdown {
    z-index: 9600;
    margin-top: calc(-25em + 75px);
    height: 25em;
    transition: margin-top 0.4s ease-out;
}

.nav-dropdown-view {
    margin-top: 75px;
}

.in-front {
    z-index: 9000;
}

.browse-img-square {
    overflow: hidden;
    width: 300px;
    height: 200px;
}

.browse-img-square figure, .browse-img-square video {
    height: 100%;
    width: 100%;
}

.browse-img-square figure img, .browse-img-square video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.browse-img-square video {
    z-index: 500;
}

.browse-img-square:hover {
    filter: brightness(105%) contrast(105%) drop-shadow(3px 3px 2px);
}

.wallpaper-page-video {
    max-height: 50vh;
}

.wallpaper-video {
    width: 100%;
}

.wallpaper-video * {
    width: 100%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.unclickable {
    pointer-events: none;
}

.vl {
    border-left: 1px solid #555555;
    margin: 0 10px;
    height: 100%
}

.okform {
    max-width: 40em;
    margin: auto;
}

.light-img {
    opacity: 35%;
}

.btn-close-bg-secondary {
    background: #343a40;
}

.btn-sm-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
}

#alerttmp {
    position: absolute;
    top: 130px;
    opacity: 0.96;
    margin: auto;
    min-width: 90vw;
    z-index: 20000;
}

#browsediv {
    min-height: 105vh;
}

#upload-wp {
    max-height: 35vh;
}

#upload-wp * {
    max-height: 35vh;
    object-fit: scale-down;
}

#logo {
    max-width: 10em;
    max-height: 100%;
}

@media (min-width: 992px) {
    #alerttmp {
        min-width: 30vw;
    }

    .portrait-h {
        max-height: 16em;
        overflow-y: auto;
    }

    #upload-wp * {
        height: 100%;
    }
}

@media (min-width: 768px) {
    .nav-dropdown {
        right: 10vh;
    }
}

@media (min-width: 576px) {
    .btn-sm-sm {
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        border-radius: 0.25rem;
    }
}
